* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(119, 119, 119);
    text-align: center;
    color: rgb(253, 253, 253);
}

.connexion-home {
    padding-top: 200px;
}